@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, #000, #000d 35%, #0000), url(img/background_characters.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 80px 128px 50px 128px;
}
header{
    display: flex;
    justify-content: space-between;
}

.nav-list img{
    width: 250px;
}

.list{
    display: flex;
    justify-content: flex-end;
    margin-top: -100px;
}

.link-container{
    display: flex;
    gap: 32px;
}

.link-container a{
    text-shadow: 2px 2px 2px #000;
    padding: 6px;
    transition: all .3s;
    font-weight: bold;
}

.link-container a:hover{
    background-color: #e62721;
}


/* Set Main */
main{
    flex-grow: 1;
    display: flex;
}

.content-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
#img_redonda{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-left: 170px;
    margin-top: 120px;
   
}
.nome-person{
    font-family: '', sans-serif;
    font-weight: bold;
    color: #fff;
    margin-left: -85px;
}
